<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_parque_fam_linares.Properties.Settings.parqueofaustinoConnectionString"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=parqueofaustino"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>